<nav>
  <a href="/books">
    <figure class="vertical">
      <i class="fa fa-bookmark fa-3x"></i>
      <figcaption>
        <h1>Books</h1>
      </figcaption>
    </figure>
  </a>
  <a href="/authors">
    <figure class="vertical">
      <i class="fa fa-user fa-3x"></i>
      <figcaption>
        <h1>Authors</h1>
      </figcaption>
    </figure>
  </a>
</nav>

<section class="book">
  <h3>Add a Book</h3>
  <form action="/books/new" method="post" class="add-book-form">
    <label for="title">Title</label>
      <input type="text" id="title" name="title">

    <p class="add-author-book-form">Author</p>
    <div class="author-on-book">
      <div class="author-name">
        <label class="author-name" for="name">First Name</label>
        <input type="text" id="name" name="first_name">
      </div>
      <div class="author-name">
        <label class="author-name" for="name">Last Name</label>
        <input type="text" id="name" name="last_name">
      </div>
    </div>

    <label for="genre">Genre</label>
      <select id="genre" name="genre_id">
        {{#each genre}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>

    <label for="description">Description</label>
      <textarea rows="5" id="description" name="description"></textarea>

    <label for="cover_url">Cover Image URL</label>
      <input type="url" id="cover_url" name="cover_url">

    <button type="submit">Add</button>
  </form>
</section>
