<section class="book">
  <h3>Add a Book<h3>
  <form action="/books/new" method="post" class="add-book-form">
    <label for="title">Title</label>
      <input type="text" id="title" name="title">

    <label for="genre">Genre</label>
      <select id="genre" name="genre_id">
        {{#each genre}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>

    <label for="description">Description</label>
      <textarea rows="5" id="description" name="description"></textarea>

    <label for="cover_url">Cover Image URL</label>
      <input type="url" id="cover_url" name="cover_url">

    <button type="submit">Add</button>
  </form>
</section>
