<main class="index">
  <figure>
    <img src="stylesheets/images/books.jpg">
    <figcaption>
      <a href="/books"><h1>Books</h1></a>
    </figcaption>
  </figure>
  <figure>
    <img src="stylesheets/images/authors.jpg">
    <figcaption>
      <a href="/authors"><h1>Authors</h1></a>
    </figcaption>
  </figure>
</main>
