<main class="index">
  <figure>
    <img src="http://www.uglydogbooks.com/wp-content/uploads/2014/04/books.jpg">
    <figcaption>
      <a href="/books"><h1>Books</h1></a>
    </figcaption>
  </figure>
  <figure>
    <img src="http://az616578.vo.msecnd.net/files/2016/03/12/635934148383695904190770395_writrrr.jpg">
    <figcaption>
      <a href="/authors"><h1>Authors</h1></a>
    </figcaption>
  </figure>
</main>
