<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize reads</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/book_logo.png" class="logo"></a>
      <a href="/"><h1>Galvanize Reads</h1></a>
    </header>
    {{{body}}}
  </body>
</html>
