<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize reads</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <header>
      <img src="/images/book_logo.png" class="logo">
      <h1>Galvanize Reads</h1>
    </header>
    {{{body}}}
  </body>
</html>
