<section class="book">
  {{#each book}}
  <article class="book-list">
    <h2>{{title}}</h2>
    <h4>By (Author)</h4>
    <p class="genre">{{name}}</p>
    <p class="description">{{description}}</p>
  </article>
  {{/each}}
  <a href="/books/new"><button>Add a Book</button></a>
</section>
