<section class="book">
  {{#each book}}
  <article class="book-list">
    <h2>{{title}}</h2>
    <h4>By (Author)</h4>
    <p class="genre">{{genre}}</p>
    <p class="description">{{description}}</p>
  </article>
  {{/each}}
</section>
