html{
  box-sizing: border-box;
}

header{
  @include flex-justify(flex-start);
  background-color: $navy;
  color:white;
  a{
    color:white;
  }
}

.fa-book{
  margin: 1rem 1rem;
}

nav{
  width: 50%;
  @include flex-justify(flex-start);
  figure{
    @include flex-justify(center);
    align-items: center;
    border: solid 1px $teal;
    padding:.5vw;
    margin:.5vw;
    a{
      text-decoration: none;
      color: $teal;
    }
    img{
      height:5vw;
    }
  }
}

.index{
  width:100%;
  @include flex-justify(center);
  figure{
    display:flex;
    flex-direction: column;
    align-items: center;
    a{
      color:$teal;
    }
    img{
      height: 25vw;
    }
  }
}

a{
  text-decoration: none;
}

.book, .author{
  width:50%;
}

.list, .delete-book, .delete-author, .read{
  @include flex-justify(flex-start);
  height:auto;
  h2, h4{
    margin-top: 0;
  }
  a{
    text-decoration: none;
    color:$teal;
  }
}

.this-img{
  height: 10rem;
  width: auto;
}

.headings{
  @include flex-justify(space-between);
}

.fa-remove{
  color:red;
}

.delete-btn{
  width:100%;
  font-size: 1.5rem;
  padding: 1rem 0;
  background-color: $teal;
  color:white;
  &:hover{

  }
}

form{
  width: 50%;
  input, label, select, textarea{
    display: block;
    width: 100%;
  }
}
