header{
  display: flex;
  justify-content: flex-start;
  background-color: $navy;
  color:white;
  a{
    text-decoration: none;
    color:white;
  }
}

.fa-book{
  margin: 1rem 1rem;
}

.book{
  width:50%;
}

.book-list, .delete-book{
  display: flex;
  justify-content: flex-start;
  height:auto;
  h2, h4{
    margin-top: 0;
  }
}

.book-cover{
  height: 10rem;
}

.book-header{
  display: flex;
  justify-content: space-between;
}

.fa-remove{
  color:red;
}

.delete-btn{
  width:100%;
  font-size: 1.5rem;
  padding: 1rem 0;
  background-color: $teal;
  color:white;
  &:hover{

  }
}

form{
  width: 50%;
  input, label, select, textarea{
    display: block;
    width: 100%;
  }
}
