header{
  display: flex;
  justify-content: flex-start;
}

.logo{
  height:3rem;
  margin: 1rem 1rem;
}

form{
  width: 50%;
  input, label, select, textarea{
    display: block;
    width: 100%;
  }
}
